@{
    ViewData["Title"] = "Home Page";
}
<img src=""/>
<div class="text-center">
    <br />
    <br />
    <br />
    <h1 style="color:white;font-weight:bolder;font-family:'Times New Roman', Times, serif" class="display-4">Welcome To Task Management</h1>
    <br />
    <br />
    <br />
     <a class="btn btn-light" href="/Task/Index">Go To Your Tasks</a>
</div>
